/*
    font-family: 'Arbutus Slab', serif;
    font-family: 'Source Sans Pro', sans-serif;
*/

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arbutus Slab', serif;
    --default-color-raffia: #E9E3BC;
    --default-color-tussock: #BC9C47;
    --default-color-copperrose: #9C6571;
    --default-color-shakespeare: #4BA2CA;
}

/* Header menu */
header {
    position: fixed;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    background-color: white;
    transition: all .3s;
    z-index: 100;
}
.header-inactive {
    display: none;
}
.header-hamburger {
    position: fixed;
    top: 2.5vh;
    right: 2.5vh;
    z-index: 1000;
}
.header-image img {
    padding-left: 1vh;
    width: 9vh;
    height: 8vh;
}

/* Heading of the page */
.head {
    /*height: 100vh;
    width: 100vw;*/
    background-color: var(--default-color-raffia);
    display: flex;
    flex-flow: row;
    overflow: hidden;
}
.head-image, .head-image img {
    width: 100vh;
    height: 100vh;
    position: relative;
    top: -7vh;
    left: -10vh;
}

/* Footer */
footer {
  height: 70vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
footer div:first-of-type {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer-graphics img {
  height: 50vh;
}
.social-link img {
  height: 3vh;
  max-width: 3vh;
  margin-right: 1vw;
}
.credits {
  width: 80vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: small;
}

/* Links */
a {
  color: var(--default-color-shakespeare);
  text-decoration: none;
  /*border: 1px solid transparent;*/
  transition: all .3s;
}
a:hover {
  color: black;
  /*border-bottom: 1px solid;*/
}

/*------------- External code by don't know who from Codepen ----------------*/
/*Hamburger menu*/
.menu-icon {
    position: relative;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
  }
  .menu-icon .menu-icon-checkbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  .menu-icon div {
    margin: auto;
    position: absolute;
    overflow: visible;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }
  .menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, #000);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
  .menu-icon span:first-of-type {
    top: 0;
  }
  .menu-icon span:last-of-type {
    bottom: 0;
  }
  .menu-icon.active span:first-of-type,
  .menu-icon .menu-icon-checkbox:checked + div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
  }
  .menu-icon.active span:last-of-type,
  .menu-icon .menu-icon-checkbox:checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
  }
  .menu-icon.active:hover span:first-of-type, .menu-icon.active:hover span:last-of-type, .menu-icon:hover .menu-icon-checkbox:checked + div span:first-of-type, .menu-icon:hover .menu-icon-checkbox:checked + div span:last-of-type {
    width: 22px;
  }
  @media (min-width: 1024px) {
    .menu-icon:hover span:first-of-type {
      width: 26px;
    }
    .menu-icon:hover span:last-of-type {
      width: 12px;
    }
  }